body {
  display: flex;
  flex-flow: column;
  min-height: 100vh;
  height: 100%;
}
body .header,
body .footer {
  flex-shrink: 0;
}
body .stickyWrap {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
}
body {
  font-family: 'HelveticaNeue-Light', sans-serif;
  font-size: 13px;
  color: #000;
}
.layout__stikyWrap {
  display: flex;
  flex: 1 0 auto;
  flex-direction: column;
}
.map {
  width: 100%;
  height: 350px;
  margin-bottom: 30px;
}
.pageHeader {
  height: 110px;
  background: url("/img/banner/slidenotwide.jpg");
  margin-bottom: 20px;
}
.pageHeader .pageTitle {
  color: #45413d;
  padding: 0 30px;
  height: 110px;
  line-height: 110px;
  background: rgba(255,255,255,0.7);
  display: inline-block;
}
main {
  padding: 20px 0;
}
a:hover,
a:focus,
a:link {
  text-decoration: none;
}
.img-thumbnail {
  width: 100%;
}
.vacancies {
  height: 110px;
  background-color: #f00;
}
.gallery {
  list-style: none;
  padding: 0;
}
.gallery li {
  margin-bottom: 20px;
  display: inline-block;
  vertical-align: top;
}
.gallery li a {
  transition: border 0.4s;
  display: inline-block;
  width: 100%;
  height: 200px;
}
.gallery li a:hover {
  border: 1px solid #000;
}
.gallery li a img {
  width: 200px;
  height: 200px;
}
.gallery li a .pseudo_img {
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}
.production {
  list-style: none;
  padding: 0;
}
.production li {
  vertical-align: top;
  margin-bottom: 20px;
}
.production li a {
  width: 100%;
  height: 230px;
}
.production li a .figure-caption {
  transition: color 0.4s;
}
.production li a:hover .figure-caption {
  color: #000;
}
.production li a img {
  width: 100%;
  height: 230px;
}
.production li a .pseudo_img {
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}
